### Build ###
/target/
build/
*.log

### OS junk ###
.DS_Store
Thumbs.db

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings
.sts4-cache
.apt_generated
.factorypath
.springBeans

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### STS ###
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Secrets ###
.env
